.pagination {
    position: fixed;
    left: 0px;
    bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: var(--color-primary);
    background-color: var(--color-third);
    width: 100%;
}

.button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    min-width: 16px;
    padding: 12px 16px;
    color: var(--color-primary);
    font-weight: 600;
    transition: .3s;

    &.next{
        display: flex;
        align-items: center;
        margin-right: 16px;
        height: 40px;
    }

    &.previous{
        display: flex;
        align-items: center;
        margin-left: 16px;
        height: 40px;
    }

    &:hover {
        background-color: #00000048;
        cursor: pointer;
    }

    &.selected {
        border: 1px solid var(--color-primary);
    }
}

.ellipsis {
    margin-top: 14px;
}

.icon {
    width: 20px;
    margin: 0 8px;
}

@media(max-width: 632px){
    .button-select-page-content {
        width: 152px;
    }
}