.main {
    flex-grow: 1;
    padding: 100px 50px;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 100px;
}

.tools-content {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 32px;
    margin-bottom: 28px;
}

@media(max-width: 855px){
    .tools-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@media(max-width: 595px){
    .card-content {
        justify-content: center;
    }
}