.filter-content {
    flex-direction: column;    
    
    button {
        display: flex;
        height: 40px;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        font-size: large;
        background-color: var(--color-primary);
        color: var(--color-fourth);
        cursor: pointer;

        &:hover {
            opacity: .7;
        }
    }
}

.filter-panel {
    padding: 8px;
    overflow-y: scroll;
    max-height: 80vh;
    color: var(--color-fourth);

    h5 {
        text-transform: capitalize;
        font-size: 16px;
        margin-bottom: 4px;
    }

    section {

        margin-bottom: 28px;

        .labels-content {
            display: flex;
            flex-wrap: wrap;
            gap: 4px 8px;

            .labels-item {
                display: flex;
                align-items: center;
                width: 40%;
                margin: 0px 4px;
                gap: 4px;
            }
        }
    }
}

.filters-selected {
    display: flex;
    gap: 4px;
    margin-top: 8px;
    flex-wrap: wrap;
}

.filter-pills {
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: var(--color-third);
    color: var(--color-fourth);
}