.modal-background {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000033;
    width: 100vw;
    height: 100vh;
    padding: 16px;
    backdrop-filter: blur(4px);
    z-index: 1000;
}

.modal-container {
    width: 512px;
    min-height: 50%;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--color-secondary);
    z-index: 1001;
    box-shadow: var(--box-shadow-mod-1);
}

.modal-header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fourth);
    padding: 20px;
    font-family: 'Kanit';
    font-size: large;
    color: var(--color-secondary);

}

.modal-close-button {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    width: 32px;
    padding: 4px;
    border-radius: 50%;
    transition: .3s;

    &:hover {
        cursor: pointer;
        background-color: #0000003f;
    }
}

@media (max-width: 560px) {
    .modal-container {
        min-width: 0,914%;
    }
}