.search-outline {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2px;

    border: 2px solid var(--color-third);
    padding: 6px;
    border-radius: 25px;
}

.search-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 8px;
    color: var(--color-third);
}

.search-button {
    border-radius: 50%;
    background-color: #00000041;
    color: var(--color-third);
    border: none;
    width: 32px;
    height: 32px;
    padding: 8px;
    cursor: pointer;
}