.loading-animation {
    margin-top: 66px;
    width: 88px;
    color: var(--color-primary);
    opacity: .7;

    animation: rotate .8s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}