/* Fonts: Roboto; Kanit */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800&family=Kanit:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --color-primary: #FCC737;
    --color-secondary: #F26B0F;
    --color-third: #E73879;
    --color-fourth: #7E1891;
}